@use "sass:color";

.devise-container {
  max-width: 32rem;
  margin: auto;
  padding: 2rem 2rem;
  background: #ffffff;
  border-radius: 1rem;
  box-shadow: 0px 0px 10px 10px rgb(0 0 0 / 10%);
  color: #111111;

  h2 {
    text-align: center;
    margin-bottom: 2rem;
    color: #002b5b;
    font-weight: bolder;
    font-size: 2rem;
  }

  .field {
    margin-bottom: 2rem;

    label {
      display: block;
      font-weight: bold;
      margin-bottom: 0.5rem;
      color: #002b5b;
    }

    input {
      width: 100%;
      max-width: 28rem;
      padding: 0.5rem 0.5rem;
      border: 1px solid #dcdfe3;
      border-radius: 0.4rem;
      font-size: 1rem;
      transition: border-color 0.5s, box-shadow 0.5s;

      &:focus {
        outline: none;
        border-color: #007bff;
        box-shadow: inset 0 0 5px 2px rgb(0 150 255 / 20%);
      }
    }
  }

  .actions {
    margin-bottom: 2rem;
    text-align: center;

    input[type="submit"] {
      background-color: #002b5b;
      color: #ffffff;
      border: none;
      border-radius: 0.8rem;
      padding: 0.8rem 1.6rem;
      font-size: 1rem;
      cursor: pointer;
      font-weight: bold;
      transition: background-color 0.5s ease, transform 0.5s ease;

      &:hover {
        background-color: color.scale(#007bff, $lightness: -20%);
      }
    }
  }

  .rememberme {
    display: flex;
    align-items: center;
    gap: 1rem;

    label {
      // cursor: pointer;
      color: #002b5b;
      font-weight: bold;
    }

    input[type="checkbox"] {
      accent-color: #007bff;
      cursor: pointer;
      width: auto;
      margin-bottom: 0.5rem;
    }
  }

  .account-delete {
    margin-bottom: 2rem;
    text-align: center;

    .btn-delete {
      background-color: #c00; // red
      color: #ffffff;
      border: none;
      border-radius: 0.5rem;
      padding: 0.6rem 1.2rem;
      font-size: 1rem;
      font-weight: bolder;
      cursor: pointer;
      transition: background-color 0.5s, transform 0.5s;

      &:hover {
        background-color: color.scale(#fc5858, $lightness: -20%);
      }
    }
  }
}