@use "sass:color";

$primary-blue: #002b5b;
$secondary-blue: #007bff;
$border-blue: #dcdfe3;
$primary-white: #ffffff;
$shadow-blue: #06193047;
$primary-caution: #c00;
$secondary-caution: #fc5858;

.form-container {
  max-width: 32rem;
  margin: auto;
  padding: 2rem 2rem;
  background: $primary-white;
  border-radius: 1rem;
  box-shadow: 0px 0px 10px 10px $shadow-blue;
  color: $shadow-blue;

  h2 {
    text-align: center;
    margin-bottom: 2rem;
    color: $primary-blue;
    font-weight: bolder;
    font-size: 2rem;
  }

  .field {
    margin-bottom: 2rem;

    label {
      display: block;
      font-weight: bold;
      margin-bottom: 0.5rem;
      color: $primary-blue;
    }

    input {
      width: 100%;
      max-width: 28rem;
      padding: 0.5rem 0.5rem;
      border: 1px solid $border-blue;
      border-radius: 0.4rem;
      font-size: 1rem;
      transition: border-color 0.5s, box-shadow 0.5s;

      &:focus {
        outline: none;
        border-color: $secondary-blue;
        box-shadow: inset 0 0 5px 2px $shadow-blue;
      }
    }
  }

  .actions {
    margin-bottom: 2rem;
    text-align: center;

    input[type="submit"] {
      background-color: $primary-blue;
      color: $primary-white;
      border: none;
      border-radius: 0.8rem;
      padding: 0.8rem 1.6rem;
      font-size: 1rem;
      cursor: pointer;
      font-weight: bold;
      transition: background-color 0.5s ease, transform 0.5s ease;

      &:hover {
        background-color: color.scale($secondary-blue, $lightness: -20%);
      }
    }
  }

  .rememberme {
    display: flex;
    align-items: center;
    gap: 1rem;

    label {
      // cursor: pointer;
      color: $primary-blue;
      font-weight: bold;
    }

    input[type="checkbox"] {
      accent-color: $secondary-blue;
      cursor: pointer;
      width: auto;
      margin-bottom: 0.5rem;
    }
  }

  .account-delete {
    margin-bottom: 2rem;
    text-align: center;

    .btn-delete {
      background-color: $primary-caution; // red
      color: $primary-white;
      border: none;
      border-radius: 0.5rem;
      padding: 0.6rem 1.2rem;
      font-size: 1rem;
      font-weight: bolder;
      cursor: pointer;
      transition: background-color 0.5s, transform 0.5s;

      &:hover {
        background-color: color.scale($secondary-caution, $lightness: -20%);
      }
    }
  }
}